/* Main */
* { 
    margin: 0;
    padding: 0;
    color: #282828;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.hide {
    display: none;
}

/* .header, section {
    min-height: 100vh;
} */

.body-bg {
    background-image: url('../img/bg/laptop-bg.svg');
    background-size: 100%;
    overflow-x: hidden;
    position: relative;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6, li {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

a {
    font-family: 'Roboto', sans-serif;
    /* font-weight: 600!important; */
    text-decoration: none;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.fa-chevron-right {
    transition: .3s;
}

.fa-chevron-right:hover {
    color: #0158CD;
}

.button {
    background: #FAFAFA;
    box-shadow: 2px -2px 7px rgba(0, 0, 0, 0.05), -5px 5px 7px rgba(255, 255, 255, 0.15), inset 2px -2px 9px -2px rgba(212, 214, 215, 0.5);
    border-radius: 10px;
    text-align: center;
    padding: 10.5px 20px;

    transition: 0.5s;
    position: relative;
    cursor: pointer;
}

.button-s {
    background: #FAFAFA;
    box-shadow: 2px -2px 7px rgba(0, 0, 0, 0.05), -5px 5px 7px rgba(255, 255, 255, 0.15), inset 2px -2px 9px -2px rgba(212, 214, 215, 0.5);
    border-radius: 10px;
    width: 40px;
    text-align: center;
    padding: 10.5px 0px;

    transition: 0.5s;
    position: relative;
    cursor: pointer;
}

.button-l {
    display: block;
    width: fit-content;
    background: #FAFAFA;
    box-shadow: 2px -2px 7px rgba(0, 0, 0, 0.05), -5px 5px 7px rgba(255, 255, 255, 0.15), inset 2px -2px 9px -2px rgba(212, 214, 215, 0.5);
    border-radius: 10px;
    text-align: center;
    padding: 20px 45px;
    font-size: 18px;
    /* font-weight: 500; */
    letter-spacing: 1.2px;
    font-variant: all-petite-caps;
    color: #282828;

    transition: 0.5s;
    position: relative;
    cursor: pointer;
}

.b-button-l {
    background: linear-gradient(45deg, #0048A8 0%, #006EFF 100%);
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: fit-content;
    padding: 10px 25px;
    color: #fff;
    text-transform: uppercase;
    font-variant: small-caps;
    font-size: 14px;

    transition: 0.5s;
    position: relative;
    cursor: pointer;
}

.button:hover, .button-s:hover, .button-l:hover {
    background-color: transparent;
    box-shadow: inset 0 0 3px 2px rgb(0 0 0 / 15%), -2px -1px 3px 1px rgb(250 250 250 / 15%);
    color: #fff;
}

.button:before, .button-s:before, .button-l:before {
    background: linear-gradient(45deg, #0048A8 0%, #006EFF 100%);
    color: #fff;

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
    border-radius: 10px;
}

.button:hover:before, .button-s:hover:before, .button-l:hover:before {
    opacity: 1;
}

.button:hover a,
.button-s:hover a,
.button-l:hover a {
    color: #fff;
}

.button:hover a > i,
.button-s:hover a > i,
.button-l:hover a > i {
    color: #fff;
}

.button:hover .fab,
.button-s:hover .fab,
.button-l:hover .fab {
    background: rgb(250,250,250);
    background-clip: text;
    -webkit-background-clip: text;
}

.page-navigation__link:hover a {
    background-size: 100% 2px;
}

.page-navigation__link > a {
    text-decoration: none;
    background-image: linear-gradient(#014AAA, #016EFE);
    background-position: 0% 100%;
    /* font-family: 'Lora'; */
    text-transform: uppercase;
    font-weight: 500;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    padding-bottom: 5px;
}

.header__sm-menu__menu {
    z-index: 1;
}

.loading {
    color: transparent;
    background: linear-gradient(100deg, #eceff1 30%, #f6f7f8 50%, #eceff1 70%);
    background-size: 400%;
    animation: loading 1.2s ease-in-out infinite;
    opacity: 1!important;
 }

@keyframes loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* Header */
.header {
    padding-top: 50px;
    padding-bottom: 50px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header__sm-menu {
    display: none;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__logo {
    /* width: 110px;x */
    /* text-transform: uppercase; */
    font-size: 34px;
    font-family: 'Dancing Script';
}

.header__page-navigation {
    margin-left: 85px;
}

.page-navigation {
    display: flex;
}

.page-navigation__link {
    list-style: none;
    margin-right: 60px;
    font-size: 14px;
    /* text-transform: uppercase; */
}

.header__social {
    display: flex;
    align-items: center;
}

.social__link {
    margin-left: 15px;
}

.social__link-phone > a > i {
    padding-right: 10px;
}

.social__link-phone > a {
    font-size: 14px;
}

.fa-facebook-f {
    background: linear-gradient(18.08deg, #014AAA 0%, #016EFE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-instagram {
    font-size: 20px;
    background: linear-gradient(180deg, #405DE6 0%, #C13584 43.75%, #F62029 99.99%, rgba(253, 29, 29, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content-info {
    width: 45%;
}

.header__content-info > h1, p, a {
    margin-top: 30px;
}

.content-info__title {
    font-size: 38px;
    /* font-family: 'Dancing Script'; */
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 500;
}

.content-info__title > i {
    font-style: normal;
    font-weight: 700;
    color: #0158CD;
}

.content-info__describtion {
    font-size: 15px;
}

.header__content-photo {
    width: 55%;
}

.header__content-photo-sm {
    display: none;
}

.header__content-photo > img {
    float: right;
    width: 80%;
}

/* Portfolio */
.s-portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
}

.s-header {
    display: flex;
    justify-content: space-between;
}

.s-header-title {
    /* text-transform: uppercase; */
    font-family: 'Dancing Script';
    font-weight: normal;
    font-size: 35px;
}

.s-portfolio__items {
    margin-top: 15px;
    /* display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px; */
    columns: 4;
    gap: 15px;

}

.s-portfolio__items__item {
    position: relative;
    overflow: hidden;
    height: calc(100% - 166px);
    border-radius: 10px;
}

.more {
    padding-bottom: 15px;
}

.s-portfolio__items__item > iframe {
    margin-top: -54px!important;
    min-width: auto!important;
    margin-bottom: -154px!important;
}

.s-portfolio__items__item-photo {
    width: 100%;
    height: 100%;

    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.s-portfolio__items__item-link {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
}

.s-portfolio__items__item-link__text {
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    font-size: 16px;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.s-portfolio__items__item-link__text > a {
    position: absolute;
    transform: translate(-50%, -120%);
    top: 50%;
}

.s-portfolio__items__item-link__text > a > i {
    background: #fff!important;
    background-clip: text!important;
    -webkit-background-clip: text!important;
    font-size: 50px;
}

.s-portfolio__items__item:hover .s-portfolio__items__item-link {
    opacity: 1;
}

/* .cover {
    display: none;
}

.cover:nth-child(1), .cover:nth-child(2), .cover:nth-child(3), .cover:nth-child(4),
.cover:nth-child(5), .cover:nth-child(6), .cover:nth-child(7), .cover:nth-child(8) {
    display: block;
} */

.s-button {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.s-button > a {
    color: #fff;
    /* text-transform: uppercase; */
    /* font-variant: small-caps; */
}

/* Store */
.s-store {
    padding-top: 50px;
}

.s-store__items {
    margin-top: 15px;
    /* display: grid; */
    /* grid-template-columns: auto auto auto auto; */
    grid-gap: 1.2vw;
    columns: 4;
}

.s-store__items__item {
    /* position: relative; */
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), inset 0px 0px 25px #FAFAFA;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column; */
    break-inside: avoid;
    /* margin-bottom: 17px; */
}

.more--store {
    margin: auto;
    width: 90%;
}

.cover--store {
    padding: 15px 0px;
}

.s-store__items__item--photo {
    position: relative;
    overflow: hidden;
    height: calc(100% - 166px);
    border-radius: 10px;
}

.s-store__items__item-photo-container {
    margin-top: 15px;
}

.s-store__items__item:nth-child(1) > .s-store__items__item-photo-container {
    margin-top: 0;
}

.s-store__items__item-link {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
}

.s-store__items__item--photo > iframe {
    margin-top: -54px!important;
    min-width: auto!important;
    margin-bottom: -154px!important;
    width: 100%!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

/* .s-store__items__item-photo-container {
    margin: auto;
    padding: 3% 0px;
    position: relative;
    margin-bottom: 15px;
} */

.s-store__items__item-photo-container > img {
    width: 18vw;
    height: auto;
    border-radius: 10px;
    padding: 20px;
}

.s-store__items__item-info {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.s-store__items__item-info h2 {
    font-size: 20px;
    font-family: 'Roboto';
}

.s-store__items__item-info > p {
    font-size: 14px;
    font-weight: 500;
    color: #888888;
    margin-top: 5px;
    margin-bottom: 35px;
}

.s-store__items__item-info__bottom {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 25px; */
}

.s-store__items__item-info__bottom > a {
    margin-top: 1px;
}

/* Footer */
.footer {
    background: linear-gradient(45deg, #0048A8 0%, #006EFF 100%);
    margin-top: 100px;
    padding: 10px 0 30px 0;
}

.footer__text {
    text-align: center;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}

.scroller {
    position: absolute;
    top: 40%;
    right: 2.5%;
    height: 200px;
    width: 70px;
    border-radius: 10px;
    background: linear-gradient(45deg, #0048A8 0%, #006EFF 100%);
    box-shadow: -4px 4px 4px rgb(0 0 0 / 25%);
    position: fixed;
    margin-top: auto;
    margin-bottom: auto;
}

.scroller > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 75%;
    padding-top: 35%;
}

.scroller > ul > li {
    display: flex;
    align-items: center;
    color: #FFFFFFCC;
    transition: .5s;
    font-family: 'Roboto';
}

.scrollCircle {
    width: 5px;
    height: 5px;
    background-color: #FFFFFFCC;
    margin-right: 10px;
    border-radius: 10px;
    transition: .5s;
}

.scrollActive {
    height: 25px;
    background-color: #fff;
}