/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {
    
}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
    .s-store__items {
        columns: 3;
    }

    .s-store__items__item-photo-container > img {
        width: 25vw;
    }
}

/* md <= Large (lg) */
@media (max-width : 992px) {
    .header__sm-menu {
        display: block;
    }

    .page-navigation {
        display: block;
    }

    .header__sm-menu__menu {
        display: flex;
        position: absolute;
        top: 0;
        right: -150vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 36vw;
        background: #FAFAFA;
        box-shadow: -50px 0px 100px rgb(40 40 40 / 10%);
        transition: .7s;
    }

    .header__sm-menu__menu-close {
        position: absolute;
        top: 0;
        left: 30px;
        font-size: 18px;
    }

    .page-navigation__link {
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
        margin-right: 0;
    }

    .header__sm-menu__menu > div > .social__link {
        margin-top: 10px;
    }

    .header__sm-menu__menu > div > .button-s {
        width: auto;
    }

    .social__link {
        /* margin-left: 0px; */
        width: 82%!important;
        margin-left: auto;
        margin-right: auto;
    }

    .social__link-text {
        display: none;
    }

    .social__link > a > i {
        position: absolute;
        left: 40px;
    }

    .social__link-phone {
        padding-left: 0;
        padding-right: 0;
    }

    .header__page-navigation, .header__social {
        display: none;
    }

    .header__content {
        display: block;
    }
    
    .header__content-photo-lg {
        display: none;
    }

    .header__content-photo {
        width: 100%;
    }

    .header__content-photo-sm {
        display: block;
        width: 100%!important;
        float: unset!important;
    }

    .header__content-info {
        width: 95%;
        margin-top: 80px;
        margin-bottom: 25px;
    }
    
    .s-portfolio__items {
        columns: 3;
    }

    .s-store__items__item-photo-container > img {
        width: 24vw;
    }
}

/* sm <= Medium (md) */
@media (max-width : 768px) {
    .header__sm-menu__menu {
        width: 48vw;
    }

    .s-portfolio__items {
        columns: 2;
    }

    .s-store__items {
        columns: 2;
        grid-gap: 2vw;
    }

    .s-store__items__item-photo-container > img {
        width: 37vw;
    }

    /* Delete here and replace in JS
    .s-store__items__item:nth-child(5),
    .s-store__items__item:nth-child(6) {
        display: none;
    } */
}

/* xs <= Small (sm) */
/* Minimum design - 320px */
@media (max-width : 576px) {
    .container {
        width: 80%;
    }

    .header__content-info {
        width: 100%;
    }
    
    .header__sm-menu__menu {
        width: 100vw;
        padding: 0;
    }

    .header__sm-menu__menu > div {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .header__sm-menu__menu-close {
        left: 30px;
    }

    .social__link > a > i {
        left: 11%;
    }

    .header__content-photo-lg {
        float: unset!important;
        width: 100%!important;
        display: block;
    }

    .header__content-photo-sm {
        display: none;
    }

    .s-store__items {
        columns: 1;
        grid-gap: 4vw;
    }

    .s-store__items__item-photo-container > img {
        width: 70vw;
    }

    .scroller {
        bottom: 3%;
        right: 10%;
        height: 70px;
        width: 80%;
        top: auto;
    }
    
    .scroller > ul {
        flex-direction: row;
        height: auto;
        padding-top: 24px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /* Delete here and replace in JS
    .s-store__items__item:nth-child(4) {
        display: none;
    } */
}

@media (max-width : 470px) {
    .container {
        width: 75%;
    }

    .s-portfolio__items {
        columns: 1;
    }

    .s-store__items__item-photo-container > img {
        width: 65vw;
    }

    .content-info__marketplace-button {
        padding: 20px 0;
        width: 100%;
    }
}